* @optimize-2 @ForkKILLET

LICENSE.md @optimize-2 @ForkKILLET @Minstdfx @5ab-juruo @undefined-moe @YuzhenQin @wxh06

/.github/ISSUE_TEMPLATE/ @5ab-juruo
/.github/workflows/ @wxh06 @YuzhenQin @5ab-juruo
/scripts/ @5ab-juruo @wxh06
.husky/ @5ab-juruo @wxh06
.vscode/ @wxh06
.markdownlint.json @YuzhenQin
.lintstagedrc.cjs @wxh06
.eslintignore @wxh06
.prettierignore @wxh06
pyproject.toml @wxh06

docs/ @wxh06 @YuzhenQin

# 请模块/组件作者自行添加：
# Writing permission to this repo is required
/src/components/register-badge.js @Minstdfx
/src/modules/auto-o2.js @5ab-juruo
/src/modules/blog.js @YuzhenQin
/src/modules/captcha.js @wxh06
/src/modules/juan-inspector.js @5ab-juruo
/src/modules/original-difficulty.js @5ab-juruo
/src/modules/token.js @wxh06
/src/modules/emoticon.js @ForkKILLET
/src/modules/meta-discussion-guiding.js @ForkKILLET
