:root {
    --theme-color: blueviolet;
    --accent-color: var(--theme-color);
    --primary-color: mediumslateblue;
    --secondary-color: dodgerblue;
    --inactive-color: lightslategray;
    --bg-color: white;
    --bg-attracting-color: aliceblue;
    --bg-active-color: lavender;
    --bg-inactive-color: whitesmoke;
    --font-monospace:
        SFMono-Regular, Menlo, Monaco,
        Consolas, "Liberation Mono",
        "Courier New", monospace;
}

.exlg-button {
    box-sizing: border-box;
    outline: none;
    border: 1px solid var(--secondary-color);
    background-color: var(--bg-attracting-color);
    line-height: 1.15;
    color: var(--secondary-color);
    --transition-color: border-color 0.3s, background-color 0.3s, color 0.3s;
    transition: var(--transition-color), var(--transition);
}

.exlg-button:hover {
    border-color: var(--primary-color);
    background-color: var(--bg-active-color);
    color: var(--primary-color);
}

.exlg-button:disabled {
    color: gray;
    text-decoration: line-through;
}

.exlg-hr {
    margin: 16px 0;
    border-top: 1px solid black;
}
.exlg-hr.close-to-top {
    margin-top: 0;
}
.exlg-hr.close-to-bottom {
    margin-bottom: 0;
}

.exlg-select,
.exlg-input {
    border: 1px solid black;
    outline: none;
    line-height: 1.6;
    vertical-align: baseline !important;
    background: white;
    transition: border-color 0.5s;
}

.exlg-select:focus,
.exlg-input:focus {
    border-color: var(--accent-color);
}

.exlg-checkbox {
    accent-color: var(--accent-color);
    width: 1em;
    height: 1em;
    vertical-align: text-bottom;
    margin: 2px 3px !important;
}

.exlg-switch {
    display: inline-block;
    position: relative;
    width: 2em;
    height: 1em;
    appearance: none;
    background-color: transparent;
}

.exlg-switch::before {
    content: "";
    position: absolute;
    top: calc(50% - .75px);
    width: 100%;
    height: 1.5px;
    background-color: var(--inactive-color);
    transition: background-color .15s;
}

.exlg-switch:checked::before {
    background-color: var(--secondary-color);
}

.exlg-switch::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    border: 1.5px solid var(--inactive-color);
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--bg-color);
    transition: left ease-in-out .15s, border-color .15s, background-color .15s;
}

.exlg-switch:hover::after {
    background-color: var(--inactive-color);
}

.exlg-switch:checked::after {
    left: 50%;
    border-color: var(--primary-color);
}

.exlg-switch:checked:hover::after {
    background-color: var(--primary-color);
}

.exlg-switch:focus {
    outline: none !important;
}

.exlg-tooltip {
    position: relative;
    font-size: .9em;
    cursor: help;
}
.exlg-tooltip:hover::after {
    content: attr(data-exlg-tooltip);
    box-sizing: border-box;
    position: absolute;
    top: -2px;
    right: calc(100% + 6px);
    z-index: 70001;
    border: 1px solid var(--inactive-color);
    background-color: var(--bg-color);
    color: var(--inactive-color);
    white-space: normal;
    line-height: 1.3em;
    padding: 3px 5px;
    white-space: nowrap;
}

.exlg-window {
    top: 0;
    right: calc(100% + 20px);
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    background: white;
    box-shadow: 0 0 1px 1px #000;
}

.exlg-window-header {
    display: flex;
    justify-content: space-between;
}
