.simple-alert {
    position: fixed;
    z-index: 80000;
    box-sizing: border-box;
    top: 20%;
    left: 30%;
    width: 40%;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    text-align: center;
}

.simple-alert > .title {
    margin: 0;
    font-weight: bold;
    font-size: 25px;
}

.simple-alert > .content {
    padding: 20px;
}

.simple-alert-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 79999;
}
