html, body {
	margin: 0;
	padding: 0;
}

:root {
	--accent-color:				#db8c84;
	--module-color:				#3b3b3b;
	--darker-color:				#1d1d1d;

	--setting-bg-color:			#000;
	--combobox-unchecked-color:	#737373;
}

.clickgui {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	display: flex;
	padding: 5px;
	/* Kill:
	 * width: 100%;
	 * justify-content: center;
	 * align-items: flex-start;
	 */
}

.clickgui * {
    color: #fff;
}

.panel {
	width: 220px;
	border: 2px solid var(--darker-color);
    border-radius: 0 8px;
	overflow: auto;
	margin-right: 10px;
}

.panel-header {
	background-color: var(--darker-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 30px;
}

.panel-icon {
	width: 24px;
	height: 24px;
	filter: invert();
	float: right;
	margin-right: 8px;
}

.panel-title {
	font-size: 20px;
	margin-left: 8px;
}

.module {
	background-color: var(--module-color);
	z-index: 10;
}

.module-header {
	padding-top: 3px;
	padding-bottom: 3px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: .25s ease-in-out;
}

.module-header:hover {
	background-color: var(--darker-color);
}

.toggled-module {
	background-color: var(--accent-color)!important;
}

.locked-module {
	background-image: linear-gradient(45deg, 
		var(--module-color) 25%,
		var(--accent-color) 0,
		var(--accent-color) 50%,
		var(--module-color) 0,
		var(--module-color) 75%,
		var(--accent-color) 0
	);
	background-size: 25px;
}

.module-title {
	margin-left: 8px;
}

.module-expand {
	margin-right: 8px;
	transition: .5s ease;
}

.module-settings-wrapper {
	transition: height .3s;
	height: 0;
	overflow: hidden;
}

.setting {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.setting-disabled {
	padding-top: 0!important;
	padding-bottom: 0!important;
	visibility: hidden;
	height: 0!important;
}

.setting-title {
	padding-left: 3px;
	z-index: 98;
	text-shadow: 1px 1px #000;
	/* Note: Differ from module names. */
	font-style: italic;
}

.selectbox-value {
	/* Kill: That's strange.
     * text-transform: uppercase;
     */
    padding: 1px 4px;
    background: var(--setting-bg-color);
}

.selectbox-setting {
	height: 20px;
}

.checkbox-value {
	width: 15px;
	height: 15px;
	background-color: var(--setting-bg-color);
	border-width: thin;
	transition: background-color .5s;
}

.checkbox-checked {
	/* Kill: No tick image
	 * background-image: url(https: //novoline.wtf/static/novogui/icons/tick-fed8ad97dc114617e98f5fc9406ec717.png);
	 */
	background-color: #fff;
	background-size: contain;
}

.slider {
	width: 100%;
}

input[type=range] {
	margin: auto;
	-webkit-appearance: none;
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
	border-radius: 0;
	outline: none;
}

.display-slider::-webkit-slider-runnable-track {
	background: var(--setting-bg-color);
}

.display-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 0;
	height: 20px;
	background: var(--accent-color);
	box-shadow: -100vw 0 0 100vw var(--accent-color);
}

.slider-value-holder {
	display: inline-block;
	position: absolute;
}

.real-slider, .real-color-slider {
	opacity: 0;
	z-index: 99;
}

.real-slider, .color-slider, .real-color-slider {
	width: 188px!important;
	height: 20px!important;
	position: absolute!important;
}

.slider-value {
	margin-left: 5px;
	text-shadow: 1px 1px #000;
}

.combobox-setting {
	flex-direction: column;
	align-items: flex-start;
	font-size: 18px;
	background-color: var(--setting-bg-color);
}

.combobox-wrapper {
	width: 100%;
	text-align: center;
}

.combobox-setting > ul {
	margin-bottom: 0;
	margin-top: 5px;
}

.combobox-items > li {
	color: var(--combobox-unchecked-color);
}

.selected-item {
	color: #fff!important;
}

.collapsed-combobox {
	height: 0;
	visibility: hidden;
	margin-top: 0;
}

.h-slider::-webkit-slider-runnable-track {
	background: linear-gradient(left, #bf3f3f 0%, #bfbf3f 16.66666666666667%, #3fbf3f 33.33%, #3fbfbe 50%, #3f3fbf 66.66666666666667%, #be3fbf 83.33333333333333%, #bf3f3f 100%);
	background: -webkit-linear-gradient(left, #bf3f3f 0%, #bfbf3f 16.66666666666667%, #3fbf3f 33.33%, #3fbfbe 50%, #3f3fbf 66.66666666666667%, #be3fbf 83.33333333333333%, #bf3f3f 100%);
	height: 21px!important;
}

.s-slider::-webkit-slider-runnable-track {
	background-image: linear-gradient(left, rgba(127, 127, 127, 1) 0%, rgba(127, 127, 127, 0.5) 50%, rgba(127, 127, 127, 0) 100%);
	background-image: -webkit-linear-gradient(left, rgba(127, 127, 127, 1) 0%, rgba(127, 127, 127, 0.5) 50%, rgba(127, 127, 127, 0) 100%);
	height: 21px!important;
}

.l-slider::-webkit-slider-runnable-track {
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 25%, rgba(128, 128, 128, 0) 50%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 1) 100%);
	background-image: linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 25%, rgba(128, 128, 128, 0) 50%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 1) 100%);
	height: 21px!important;
}

.h-slider::-webkit-slider-thumb, .s-slider::-webkit-slider-thumb, .l-slider::-webkit-slider-thumb {
	height: 21px;
	-webkit-appearance: none;
	width: 1px;
	background: #fff;
}

.sliders {
	height: 20px;
	width: 188px;
}

.sliders > .setting-title {
	position: absolute;
}

.disabled-color-slider {
	visibility: hidden;
}

.textbox-setting {
	flex-wrap: wrap;
}

.textbox-at {
	margin-right: 3px;
}

.textbox-extended {
	color: var(--accent-color);
}

.textbox {
	background: 0 0;
	width: calc(100% - 6px);
	border: none;
	outline: none;
	box-shadow: #fff 0 .5px 0;
	margin-left: 1px;
}

.textbox:disabled {
	color: var(--darker-color);
}

.textbox-editor > textarea {
    height: calc(100% - 10px + 4px);
    min-width: 200px;
	max-width: 800px;
	resize: horizontal;
	color: #000;
}

