.bb-rnkitm:nth-child(1)::marker {
    color: var(--lg-red);
    font-weight: 900;
}

.bb-rnkitm:nth-child(2)::marker {
    color: var(--lg-orange);
    font-weight: 900;
}

.bb-rnkitm:nth-child(3)::marker {
    color: var(--lg-yellow);
    font-weight: 900;
}

.bb-rnkitm > span {
    display: flex;
    flex-wrap: wrap;
}

.bb-rnkitm > span > span {
    margin-left: auto;
}

.bb-rnklst-span {
    font-size: 1em;
    font-weight: normal;
}

.btn-disable {
    pointer-events: none;
    color: #97979a;
}