/* dash */
#exlg-dash {
	margin-right: 5px;
	position: relative;
	display: inline-block;
	padding: 1px 10px 3px;
	color: white;
	border-radius: 6px;
	box-shadow: 0 0 7px dodgerblue;
	cursor: pointer;
}
#exlg-dash > .exlg-warn {
	position: absolute;
	top: -.5em;
	right: -.5em;
}
/* global */
.exlg-icon::before {
	display: inline-block;
	width: 1.3em;
	height: 1.3em;
	margin-left: 3px;
	text-align: center;
	border-radius: 50%;
}
.exlg-icon:hover::after {
	display: inline-block;
}
.exlg-icon::after {
	display: none;
	content: attr(name);
	margin-left: 5px;
	padding: 0 3px;
	background-color: white;
	box-shadow: 0 0 7px deepskyblue;
	border-radius: 7px;
}
.exlg-icon.exlg-info::before {
	content: "i";
	color: white;
	background-color: deepskyblue;
	font-style: italic;
}
.exlg-icon.exlg-warn::before {
	content: "!";
	color: white;
	background-color: rgb(231, 76, 60);
	font-style: normal;
}
.exlg-unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
:root {
	--exlg-azure:           #7bb8eb;
	--exlg-aqua:            #03a2e8;
	--exlg-indigo:          #3f48cb;
	--std-mediumturquoise:  #48d1cc;
	--std-cornflowerblue:   #6495ed;
	--std-dodgerblue:       #1e90ff;
	--std-white:            #fff;
	--std-black:            #000;
	--lg-gray:              #bbb;
	--lg-gray-2:            #7f7f7f;
	--lg-gray-3:            #6c757d;
	--lg-gray-4:            #414345;
	--lg-gray-5:            #333;
	--lg-gray-6:            #000000bf;
	--lg-blue:              #3498db;
	--lg-blue-button:       #0e90d2;
	--lg-blue-dark:         #34495e;
	--lg-blue-2:            #7cb5ecbf;
	--lg-green:             #5eb95e;
	--lg-green-dark:        #054310c9;
	--lg-green-light:       #5eb95e26;
	--lg-green-light-2:     #c9e7c9;
	--lg-yellow:            #f1c40f;
	--lg-orange:            #e67e22;
	--lg-red:               #e74c3c;
	--lg-red-light:         #dd514c26;
	--lg-red-light-2:       #f5cecd;
	--lg-red-button:        #dd514c;
	--lg-purple:            #8e44ad;
	--argon-indigo:         #5e72e4;
	--argon-red:            #f80031;
	--argon-red-button:     #f5365c;
	--argon-green:          #1aae6f;
	--argon-green-button:   #2dce89;
	--argon-cyan:           #03acca;
	--argon-yellow:         #ff9d09;
	--lg-red-problem:       #fe4c61;
	--lg-orange-problem:    #f39c11;
	--lg-yellow-problem:    #ffc116;
	--lg-green-problem:     #52c41a;
	--lg-blue-problem:      #3498db;
	--lg-purple-problem:    #9d3dcf;
	--lg-black-problem:     #0e1d69;
	--lg-gray-problem:      #bfbfbf;
}
.exlg-difficulty-color { font-weight: bold; }
.exlg-difficulty-color.color-0 { color: rgb(191, 191, 191)!important; }
.exlg-difficulty-color.color-1 { color: rgb(254, 76, 97)!important; }
.exlg-difficulty-color.color-2 { color: rgb(243, 156, 17)!important; }
.exlg-difficulty-color.color-3 { color: rgb(255, 193, 22)!important; }
.exlg-difficulty-color.color-4 { color: rgb(82, 196, 26)!important; }
.exlg-difficulty-color.color-5 { color: rgb(52, 152, 219)!important; }
.exlg-difficulty-color.color-6 { color: rgb(157, 61, 207)!important; }
.exlg-difficulty-color.color-7 { color: rgb(14, 29, 105)!important; }
.exlg-window {
	position: absolute;
	top: 35px;
	left: 0px;
	z-index: 65536;
	display: none;
	width: 300px;
	/* height: 300px; */
	padding: 15px;
	background: white;
	color: black;
	border-radius: 7px;
	box-shadow: rgb(187 227 255) 0px 0px 7px;
}
.exlg-windiv-left-tag {
	/* border-right: 1px solid #eee; */
	height: 2em;
	width: 18%;
	margin-right: 10px;
	display: inline-block;
	text-align: center;
}
.exlg-windiv-btn {

	font-size: 0.9em;
	/*padding: 0.313em 1em;*/
	display: inline-block;
	flex: none;
	outline: 0;
	cursor: pointer;
	color: #fff;
	font-weight: inherit;
	line-height: 1.5;
	text-align: center;
	vertical-align: middle;
	background: 0 0;
	border-radius: 5px;
	border: 1px solid;
	margin: 4px;

}

.dropdown > .center {
	padding: 0 24px 18px;
}
.ops>a>.link-title {
	display: flex;
	align-items: center;
}
.ops>a>.link-title>svg {
	margin-right: 8px;
	width: 16px;
}
.ops>a[class] {
	width: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2px;
	padding: 6px 14px;
	border-radius: 8px;
	color: var(--text2);
	font-size: 14px;
	cursor: pointer;
	transition: background-color .3s;
	margin-bottom: 0.4em;
	margin-top: 0.4em;
}
.ops>a:hover {
	background-color: rgb(227,229,231);
}

.exlg-dropdown.field {
	display: inline-block;
	border-left: none;
	padding: 0 .8em;
}
.exlg-dropdown.field:hover {
	color: #00aeec!important;
}
.exlg-dropdown.field:hover > .value {
	color: #00aeec!important;
}
.exlg-dropdown.field:hover > .key {
	color: #00aeec!important;
}
.exlg-dropdown.field > .value {
	display: block;
	text-align: center;
	line-height: 1.5;
	font-weight: 700;

	color: #6c757d;
	font-size: 18px;
	transition: color .2s;
}
.exlg-dropdown.field > .key {
	display: block;
	text-align: center;
	/* font-size: 0.5em; */

	color: #9499a0;
	font-weight: 400;
	font-size: 12px;
	transition: color .2s;
}
.exlg-dropdown.field > .key-small {
	display: block;
	text-align: center;
	/* font-size: 0.5em; */

	color: #9499a0;
	font-weight: 400;
	font-size: 8px;
	transition: color .2s;
}
