.juan-rnkitm:nth-child(1)::marker {
    color: var(--lg-red);
    font-weight: 900;
}

.juan-rnkitm:nth-child(2)::marker {
    color: var(--lg-orange);
    font-weight: 900;
}

.juan-rnkitm:nth-child(3)::marker {
    color: var(--lg-yellow);
    font-weight: 900;
}

.juan-rnkitm > span {
    display: flex;
    flex-wrap: wrap;
}

.juan-rnkitm > span > span {
    margin-left: auto;
}
