#exlg-cli {
	position: fixed;
	top: 0;
	z-index: 134;
	display: none;
	width: 100%;
	height: 40px;
	background-color: white;
	box-shadow: 0 0 7px dodgerblue;
}
#exlg-cli-input {
	display: block;
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	font-family: "Fira Code", "Fira Mono", "consolas", "Courier New", monospace;
	color: #000;
}
#exlg-cli-input.error {
	background-color: indianred;
}