/* exlg beautified ops by minstdfx */
.ops > a.color-none {
    width: auto;
    display: flex;
    align-items: center;
	text-align: center;
    justify-content: space-between;
    margin-bottom: 2px;
    padding: 6px 14px;
    border-radius: 8px;
    color: var(--text2);
    font-size: 14px;
    cursor: pointer;
    transition: background-color .3s;
    margin: 2px;
}
.ops > a.color-none:hover {
	background-color: rgb(227,229,231);
    border-radius: 8px;
}
.ops > a.color-none >.link-title {
	display: flex;
	align-items: center;
	text-align: center;
}
.ops > a.color-none >.link-title>svg {
	margin-right: 8px;
	width: 16px;
}
.ops > a.color-none::after {
    /* content: url("<svg class='icon' style='vertical-align: middle;fill: currentColor;overflow: hidden;' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='1697'><path d='M644.266667 494.933333l-192 192-29.866667-29.866666 162.133333-162.133334-162.133333-162.133333 29.866667-29.866667 192 192z' fill='#444444' p-id='1698'></path></svg>")*/
    transform: rotate(-90deg);
    content: url("data:image/svg+xml;charset=UTF-8, %3Csvg%20style=%22fill:%20rgb(108,%20117,%20125);%22%20width=%2210%22%20height=%2210%22%20viewBox=%220%200%209%209%22%20fill=%22rgb(108,%20117,%20125)%22%20xmlns=%22http://www.w3.org/2000/svg%22%20class=%22link-icon--right%22%3E%3Cpath%20fill-rule=%22evenodd%22%20clip-rule=%22evenodd%22%20d=%22M7.50588%203.40623C7.40825%203.3086%207.24996%203.3086%207.15232%203.40623L4.41244%206.14612L1.67255%203.40623C1.57491%203.3086%201.41662%203.3086%201.31899%203.40623C1.22136%203.50386%201.22136%203.66215%201.31899%203.75978L4.11781%206.5586C4.28053%206.72132%204.54434%206.72132%204.70706%206.5586L7.50588%203.75978C7.60351%203.66215%207.60351%203.50386%207.50588%203.40623Z%22%20fill=%22rgb(108,%20117,%20125)%22%3E%3C/path%3E%3Cpath%20d=%22M7.15232%203.40623L7.50588%203.75978L7.50588%203.75978L7.15232%203.40623ZM7.50588%203.40623L7.15232%203.75978L7.15233%203.75978L7.50588%203.40623ZM4.41244%206.14612L4.05888%206.49967C4.15265%206.59344%204.27983%206.64612%204.41244%206.64612C4.54504%206.64612%204.67222%206.59344%204.76599%206.49967L4.41244%206.14612ZM1.67255%203.40623L2.0261%203.05268L2.0261%203.05268L1.67255%203.40623ZM1.31899%203.40623L0.965439%203.05268L0.965439%203.05268L1.31899%203.40623ZM1.31899%203.75978L1.67255%203.40623V3.40623L1.31899%203.75978ZM4.11781%206.5586L3.76425%206.91215L4.11781%206.5586ZM4.70706%206.5586L4.35351%206.20505L4.70706%206.5586ZM7.50588%203.75978L7.15233%203.40623L7.15232%203.40623L7.50588%203.75978ZM7.50588%203.75978C7.40825%203.85742%207.24996%203.85742%207.15232%203.75978L7.85943%203.05268C7.56654%202.75978%207.09166%202.75978%206.79877%203.05268L7.50588%203.75978ZM4.76599%206.49967L7.50588%203.75978L6.79877%203.05268L4.05888%205.79257L4.76599%206.49967ZM1.31899%203.75978L4.05888%206.49967L4.76599%205.79257L2.0261%203.05268L1.31899%203.75978ZM1.67254%203.75979C1.57491%203.85742%201.41662%203.85742%201.31899%203.75979L2.0261%203.05268C1.73321%202.75978%201.25833%202.75978%200.965439%203.05268L1.67254%203.75979ZM1.67255%203.40623C1.77018%203.50386%201.77018%203.66215%201.67255%203.75978L0.965439%203.05268C0.672546%203.34557%200.672546%203.82044%200.965439%204.11334L1.67255%203.40623ZM4.47136%206.20505L1.67255%203.40623L0.965439%204.11334L3.76425%206.91215L4.47136%206.20505ZM4.35351%206.20505C4.38605%206.1725%204.43882%206.1725%204.47136%206.20505L3.76425%206.91215C4.12223%207.27013%204.70264%207.27013%205.06062%206.91215L4.35351%206.20505ZM7.15232%203.40623L4.35351%206.20505L5.06062%206.91215L7.85943%204.11334L7.15232%203.40623ZM7.15233%203.75978C7.05469%203.66215%207.05469%203.50386%207.15233%203.40623L7.85943%204.11334C8.15233%203.82045%208.15233%203.34557%207.85943%203.05268L7.15233%203.75978Z%22%20fill=%22rgb(108,%20117,%20125)%22%3E%3C/path%3E%3C/svg%3E")
}
/* end */

.ops>a:hover {
	background-color: rgb(227,229,231);
	border-radius: 1em;
}

.wrapper.hover>.dropdown>.center {
	font-size: 1.1em;
	/* width: 13em; */
}

.exlg-dropdown.field {
	display: inline-block;
	border-left: none;
	padding: 0 .8em;
}
.exlg-dropdown.field:hover {
	color: #00aeec!important;
}
.exlg-dropdown.field:hover > .value {
	color: #00aeec!important;
}
.exlg-dropdown.field:hover > .key {
	color: #00aeec!important;
}
.exlg-dropdown.field > .value {
	display: block;
	text-align: center;
	line-height: 1.5;
	font-weight: 700;

	color: #6c757d;
	font-size: 1.1em;
	transition: color .2s;
}
.exlg-dropdown.field > .key {
	display: block;
	text-align: center;
	/* font-size: 0.5em; */

	color: #9499a0;
	font-weight: 400;
	font-size: .75em;
	transition: color .2s;
}
.exlg-dropdown.field > .key-small {
	display: block;
	text-align: center;
	/* font-size: 0.5em; */

	color: #9499a0;
	font-weight: 400;
	font-size: .5em;
	transition: color .2s;
}

.ops[data-v-78704ac9] {
	padding: .5em .9em;
}

.header[data-v-78704ac9] {
	margin-bottom: -0.6em;
}