.exlg-root,
.exlg-button,
.exlg-select,
.exlg-input,
.exlg-tooltip:hover::after,
.simple-alert,
.exlg-window {
    color: white !important;
    background-color: #333 !important;
}

.exlg-tooltip:hover::after {
    border-color: white;
}

.module-version,
.module-install:hover,
.exlg-button:hover,
.debug-button.debug {
    color: var(--accent-color) !important;
}
