#exlg-messages-outter {
    z-index: 129;
    position: fixed;
    right: 1em;
    bottom: 96px;
    border-radius: .6em;
    padding: 6px;
    /* box-sizing: border-box; */
    width: calc(18em + 12px);
    overflow: hidden;
}
#exlg-messages-container {
    position: relative;
    width: 100%;
    height: 100%;
}
.exlg-message-outter {
    background-color: #faf9fa;
    border-radius: .6em;
    width: 18em;
    height: 6em;
    box-shadow: 0 0 6px #e1e1e2;
    position: relative;
    margin: .4em 0;
}
.exlg-message-inner {
    width: 100%;
    height: 100%
}
.exlg-message-avatar {
    position: absolute;
    top: .8em;
    left: .8em;
    border-radius: 100%;
    width: 3.4em;
    height: 3.4em;
}
.exlg-message-username {
    position: absolute;
    top: .4em;
    left: 4.7em;
    width: 10.5em;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.exlg-message-content {
    position: absolute;
    top: 2em;
    left: 4.7em;
    width: 12em;
    line-height: 1;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.exlg-message-type {
    position: absolute;
    top: 5.45em;
    left: 1.1em;
    font-size: .8em;
    color: #bbbabb;
}
.exlg-message-close {
    position: absolute;
    top: .4em;
    right: .4em;
    width: 1.2em;
    height: 1.2em;
    border-radius: 100%;
    text-align: center;
    background-color: #f1f0f1;
    box-sizing: border-box;
    transition: ease-in-out background-color .1s;
    cursor: pointer;
}
.exlg-message-close:hover {
    background-color: #e3e2e3;
}
.exlg-message-close>svg {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}
.exlg-message-show {
    display: block;
    color: #000;
    text-decoration: none;
    position: absolute;
    top: 5.2em;
    right: .5em;
    font-size: .8em;
    padding-top: .1em;
    width: 5em;
    height: 1.7em;
    border-radius: .3em;
    text-align: center;
    background-color: #f1f0f1;
    box-sizing: border-box;
    transition: ease-in-out background-color .1s;
}
.exlg-message-show:hover {
    background-color: #e3e2e3;
    color: #000;
}
.exlg-message-show:visited {
    color: #000;
}
