---
# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Node.js Package

on:
  push:
    branches: main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 7
      - name: Setup Node.js LTS
        uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
          cache: pnpm
      - name: Build cli-mod
        run: |
          pnpm --filter cli-mod install
          pnpm --filter cli-mod run build
      - name: Install dependencies
        run: pnpm install
      - name: Build all workspaces
        run: pnpm -r build

  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 7
      - name: Setup Node.js LTS
        uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
          cache: pnpm
          registry-url: https://registry.npmjs.org/
      - name: Build cli-mod
        run: |
          pnpm --filter cli-mod install
          pnpm --filter cli-mod run build
      - name: Install dependencies
        run: pnpm install
      - name: Publish to npm
        run: pnpm -r publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.npm_token }}
